@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'trueno';
  src: url("../fonts/truenobd-webfont.woff") format("woff"), url("../fonts/truenobd-webfont.woff2") format("woff2");
}

@keyframes point {
  0% {
    transform: translateY(30px);
    opacity: 100%;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0%;
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'open_sansregular';
}

.header {
  width: 100%;
}

.header__container {
  background-color: #569C87;
  display: flex;
  justify-content: center;
  height: 240px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .header__container {
    height: inherit;
    padding: 7vh;
  }
}

.header__container__h1 {
  margin: auto;
  color: #fdcb46;
  font-family: 'trueno';
  font-size: 6em;
  font-weight: 300;
  text-transform: lowercase;
}

@media (max-width: 576px) {
  .header__container__h1 {
    font-size: 4em;
  }
}

.main {
  width: 90%;
  margin: auto auto 220px auto;
}

.main__menu {
  text-align: center;
}

.main__menu__containerImg {
  width: 40%;
  display: inline-block;
  margin: 50px;
  box-shadow: 0px 0px 15px black;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main__menu__containerImg {
    width: 70%;
  }
}

.main__menu__containerImg__img {
  width: 100%;
  transform: scale(1.1);
  transition: 1s;
}

.main__menu__containerImg__img:hover {
  transform: scale(1.25);
  opacity: 0.5;
}

.main__prochainement__bouton {
  margin: auto;
  background-color: #569C87;
  width: 50%;
  height: 120px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.main__prochainement__bouton__point {
  margin: auto 50px;
  font-size: 100px;
  background-color: #fdcb46;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  animation: point 1s ease-in-out alternate infinite;
  animation-fill-mode: backwards;
}

.main__prochainement__bouton__point--1 {
  animation-delay: 0.2s;
}

.main__prochainement__bouton__point--2 {
  animation-delay: 0.4s;
}

.main__prochainement__bouton__point--3 {
  animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .main__prochainement__bouton__point {
    margin: auto;
  }
}

.main__presentation {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.main__presentation__h2 {
  font-size: 3em;
  font-weight: 900;
}

.main__menuDetails {
  background-color: pink;
  margin: auto;
  width: 95%;
  height: 500px;
  box-shadow: 0px 0px 15px black;
}

.footer {
  width: 100%;
  height: 135px;
  background-color: #569C87;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

@media (max-width: 768px) {
  .footer {
    height: inherit;
    flex-direction: column;
  }
}

.footer__link {
  color: #fdcb46;
  text-decoration: none;
  margin: auto 40px;
  font-size: 30px;
}

.footer__link:hover {
  animation: wiggle 0.4s ease-in-out alternate;
  animation-fill-mode: both;
  animation-iteration-count: 2;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 15px;
    margin: 15px auto;
  }
}
