$couleurPrincipale: #569C87;
$couleurSecondaire: #fdcb46;
$couleurNoteEnchantee: #FDE0DC;
$couleurSecondaireNoteEnchantee: #3d1319;
$couleurChicALaFrancaise: #FFF5FE;
$couleurSecondaireChicALaFrancaise: #c67412;
$couleurTertiaireChicALaFrancaise: #a56799;
$couleurQuaternaireChicALaFrancaise: #6e4ccc;
$couleurDeliceDesPapilles: #EDEFEF;
$couleurSecondaireDeliceDesPapilles: #0228DD;
$couleurTertiaireDeliceDesPapilles: #1E7EF4;
$couleurQuaternaireDeliceDesPapilles: #229DF9;
$couleurPaletteDuGout:#FDFFFD;
$couleurSecondairePaletteDuGout:#41963C;
$couleurTertiairePaletteDuGout:#BEFA88;
$tailleImage: 500px;
$hauteurImage: 600px;
$tailleImageResponsive1500: 400px;
$tailleImageResponsive1280: 350px;
$tailleImageResponsive512: 270px;
$hauteurImageResponsive1500: 500px;
$hauteurImageResponsive1280: 450px;
$hauteurImageResponsive512: 400px;
$anim-delay: 0.2s;
$tailleBgcBarreNoteEnchantee: 30%;
$tailleBgcBarreRespNoteEnchantee: 20%;
$tailleBgcBarreChicALaFrancaise: 25%;
$tailleBgcBarreRespChicALaFrancaise: 15%;
$tailleBgcBarreDeliceDesPapilles: 25%;
$tailleBgcBarreRespDeliceDesPapilles: 15%;
$tailleBgcBarrePaletteDuGout: 28%;
$tailleBgcBarreRespPaletteDuGout: 23%;