@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'trueno';
    src: url('../fonts/truenobd-webfont.woff') format('woff'),
         url('../fonts/truenobd-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'devonshire';
    src: url('../fonts/devonshire-regular-webfont.woff') format('woff'),
         url('../fonts/devonshire-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'kalam';
    src: url('../fonts/kalam-regular-webfont.woff') format('woff'),
         url('../fonts/kalam-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'croissant';
    src: url('../fonts/croissantone-regular-webfont.woff') format('woff'),
         url('../fonts/croissantone-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'yrsa';
    src: url('../fonts/yrsa-regular-webfont.woff') format('woff'),
         url('../fonts/yrsa-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'dancing';
    src: url('../fonts/dancing_script-webfont.woff') format('woff'),
         url('../fonts/dancing_script-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'kaushan';
    src: url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2');
}