.header{
    width: 100%;

    &__container{
        background-color: $couleurPrincipale;
        display: flex;
        justify-content: center;
        height: 240px;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            height: inherit;
            padding: 7vh;
        }

        &__h1{
            margin: auto;
            font-size: 6em;
            font-weight: 300;
            text-transform: lowercase;
            @media (max-width: 576px) {
                font-size: 4em;
            }
            &__link{
                color: $couleurSecondaire;
                font-family: 'trueno';
            }
        }
    }
}